.chat-bar
  .chat-bar__header
    %h2.chat-bar__header__left
      = @group.name
    %ul.chat-bar__header__left__members
      Member：
      %li.chat-bar__header__left__members__list
        - @group.users.each do |user|
          = user.name
    
      .chat-bar__header__left__button
        =link_to "Edit", edit_group_path(@group), class: "edit"
  .chat-bar__header__contents
    = render @messages
  .chat-bar__bottom
    .form
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class:  'input-box__image' do
            = icon('fas','image', class: 'icon')
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'