.side-bar
  .side-bar__header
    .side-bar__header__user
      = current_user.name
      .side-header__user__name
      %ul.side-bar__header__icon
        %li.side-bar__header__icon__edit
          = link_to new_group_path do
            = icon("fas", "edit")
        %li.side-bar__header__icon__group
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
  .groups
    - current_user.groups.each do |group|
      .groups_main
        = link_to  group_messages_path(group) do
          .groups_main-name
            = group.name
          .groups_main-message
            = group.show_last_message